.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    min-height: 500px;
    width: 100%;
    background: url("../images/Studying.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;

    &__title {
        font-size: 5rem;
        font-weight: bold;
        margin: 0rem;
        text-shadow: $text-shadow;
        color: white;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: normal;
        margin: 0rem;
        text-shadow: $text-shadow;
        color: white;
    }

    &__author {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0.5rem;
        text-shadow: $text-shadow;
        color: white;
    }

    &__source {
        position: absolute;
        z-index: 3;
        bottom: 1rem;
        padding: 1rem;
        right: 1rem;
        color: $gray-scale--light;
        background-color: rgba(darken($main-color, 5%), 0.9);
        border-radius: 0.5rem;
        box-shadow: $shadow;
    }
}